/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400');

body {
  background: chartreuse;
  padding: 3em;
  font-family: 'Ralewy', 'Arial';
  color: #ffffff;
}
ul {
  list-style-type: none;
  margin:0 0 2em 0;
  padding:0;
}
ul li {
  dysplay:inline;
  margin-right: 30px;
}

ul li a {
  font-size: 1.5em;
}
a {
  color: white;
  text-decoration:none;
}



